body {
	margin: 40px 0;
	display: flex;
	justify-content: center;
}

* {
	font-family: sans-serif;
}

header.masthead {
	background: #66b588;
	padding: 20px 60px;

	text-align: center;
	color: white;
}

header.masthead > h1 {
	text-transform: uppercase;
	font-size: 96px;
	margin: 20px 0;
}

header.masthead > h1 a {
	text-decoration: none;
}

header.masthead > h2 {
	font-size: 28px;
}

header.masthead a {
	color: white;
}

nav ul {
	list-style-type: none;
	padding: 0;
	line-height: 1.2;
}

nav ul li {
	padding: 10px;
}

nav ul li a {
    background: #66b588;
    color: white;
    padding: 10px;
    font-size: 28px;
    text-decoration: none;
}

header.masthead a:hover {
    color: #66b588;
    background: white;
    text-decoration: none;
}

.container {
	max-width: 800px;
	padding: 20px;
}

section {
	padding-top: 40px;
}

h1 {
	font-size: 48px;
	margin: 20px 0;
}

h2 {
	margin-top: 40px;
}

p, ol, ul {
	font-size: 18px;
    line-height: 1.67;
}